<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">  
    <link rel="stylesheet" media="screen and (max-width:1518px)"  href="../static/phone.css" /> 
    <title>Dance Academy</title>
</head>
<body>
    <nav id="navbar">
        <ul>
          <div id="logo"> <img src="/static/logo.png">SDA</div>
          <li><a href="/">Home</a></li>
          <li><a href="/">Events/Courses </a></li>
          <li><a href="#mission">Mission</a></li>
          <li><a href="#sponser">Connections</a></li>
          <li><a href="/contact">Contact</a></li>
          <div class="btn">
             <li><a href="/">Login</a></li>
             <li><a href="/">Sign-up</a></li>
          </div>
        </ul>
        
      </nav>
      <section id="introsection">
        <div>Welcome  to  Sunita  Dance  Academy</div>
        <div class="small">Put your heart into Dance and Dance will never leave your heart!</div>
      </section>
      <section id="mission"> 
        <h2>Our Mission</h2>
        <div class="card">
          <h3>Free Live Classes</h3>
          <div class="card-box">
            <div class="card-img"> <img src="/static/liveclass.jpg"></div>
          </div>
          <div class="card-content"> 
            <p>You can take live streaming online dance classes from your favourite instructors at the comfort of your home, and its absolutely free!
              <To>top that, you can also chat with the instructor and your peers during the live session. </To>
            </p>
          </div>
        </div>
        <div class="card">
          <h3>Take class on any device</h3>
          <div class="card-box">
            <div class="card-img"> <img src="/static/classondevice.png"></div>
          </div>
          <div class="card-content"> 
            <p>You can access our online dance classes from any device. Android smartphone, iPhone, iPad, desktop, laptop, and TV – you name it, we support it. Stream classes from your favourite instructor on the go. </p>
          </div>
        </div>
        <div class="card">
          <h3>Classes across diverse Dance styles</h3>
          <div class="card-box"> 
            <div class="card-img"> <img src="/static/danceform.jpg"></div>
          </div>
          <div class="card-content"> 
            <p>We give you tutorials to master moves and routines from a wide variety of styles. Ranging from beginner to advanced classes, start your dance journey with us today! </p>
          </div>
        </div>
      </section>
      <section id="sponser">   
        <h2>Our Sponsors</h2>
        <div id="sponsers">
          <img class="spimage" src="/static/logo1.jpg" alt="Sponsor Image">
          <img class="spimage" src="/static/logo2.jpeg" alt="Sponsor Image">
          <img class="spimage" src="/static/logo3.png" alt="Sponsor Image"></div>
      </section>
      <footer id="footer"> 
        <div id="container"> 
          <div class="first">Terms and Conditions </div>
          <div class="second"> Privacy Policy</div>
        </div>
        <div class="third">support@sunitadanceacademy</div>
      </footer>
      <script src="../static/index.js"> </script>
    </body>
</body>
</html>